/* Google Font CDN Link */

// @import "https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap";
@font-face {
    font-family: "Avenir";
    src: url('fonts/Avenir');
    src: local('Avenir');
    src: url('Avenir.woff2') format('woff2');
}

@font-face {
    font-family: "Flaticon";
    src: url('fonts/Flaticon');
    src: local('Flaticon');
    src: url('Flaticon_1.woff2') format('woff2');
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Avenir", sans-serif;
}

// &:root {
//     --black-color: #11101d;
//     --white-color: #fff;
//     --sky-color: #E4E9F7;
//     --light-black: #1d1b31;
// }
body {
    position: relative;
    min-height: 100vh;
    width: 100%;
    // overflow: hidden;
}

// &::selection {
//     color: white;
//     background: var(--black-color);
// }
.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 78px;
    background: white;
    padding: 6px 14px;
    z-index: 102;
    transition: all 0.5s ease;
    &_top {
        background: #00549E;
        position: fixed;
        top: 0;
        color: white;
        left: 0;
        right: 0;
        text-align: end;
        z-index: 101;
        height: 80px;
        margin-bottom: 72px;
    }
    .logo_content {
        .logo {
            color: white;
            display: block;
            height: 50px;
            margin: 0 auto;
            width: 100%;
            align-items: center;
            opacity: 0;
            pointer-events: none;
            transition: all 0.5s ease;
        }
    }
    #btn {
        position: absolute;
        color: white;
        right: 0;
        left: 60%;
        top: 20%;
        font-size: 22px;
        height: 50px;
        width: 50px;
        text-align: center;
        line-height: 50px;
        transform: translateX(-50%);
        cursor: pointer;
    }
    ul {
        margin-top: 20px;
        li {
            position: relative;
            height: 50px;
            width: 100%;
            margin: 5px 0;
            list-style: none;
            line-height: 50px;
            .tooltip {
                position: absolute;
                left: 125px;
                top: 0;
                transform: translate(-50%, -50%);
                border-radius: 6px;
                height: 35px;
                width: 120px;
                // background: white;
                line-height: 35px;
                text-align: center;
                box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
                transition: 0s;
                opacity: 0;
                background: white;
                pointer-events: none;
                display: block;
                &::before {
                    content: '';
                    width: 0;
                    height: 0;
                    border-top: 10px solid transparent;
                    border-bottom: 10px solid transparent;
                    border-right: 10px solid white;
                    position: absolute;
                    left: -8px;
                    top: 7px;
                }
            }
            &:hover {
                .tooltip {
                    transition: all 0.5s ease;
                    opacity: 1;
                    top: 50%;
                }
            }
            input {
                position: absolute;
                height: 100%;
                width: 100%;
                left: 0;
                top: 0;
                border-radius: 12px;
                outline: none;
                border: none;
                background: #1d1b31;
                padding-left: 50px;
                font-size: 18px;
                color: white;
            }
            .bx-search {
                position: relative;
                z-index: 99;
                color: white;
                font-size: 22px;
                transition: all 0.5s ease;
                &:hover {
                    background: white;
                    color: #1d1b31;
                }
            }
            a {
                color: white;
                display: block;
                align-items: center;
                text-decoration: none;
                border-radius: 12px;
                white-space: nowrap;
                transition: all 0.4s ease;
                &:hover {
                    color: var(--black-color);
                    background: white;
                }
            }
            i {
                font-size: 18px;
                font-weight: 400;
                height: 50px;
                min-width: 50px;
                font-style: initial;
                border-radius: 12px;
                line-height: 50px;
                text-align: center;
            }
        }
    }
    .links_name {
        font-size: 15px;
        font-weight: 700;
        display: inline-block;
        opacity: 0;
        color: #545D69;
        pointer-events: none;
        transition: all 0.3s ease;
    }
    .content {
        position: absolute;
        color: white;
        bottom: 0;
        left: 0;
        width: 100%;
        .user {
            position: relative;
            padding: 10px 6px;
            height: 60px;
            background: none;
            transition: all 0.4s ease;
        }
    }
}

.sidebar.active {
    width: 240px;
    .logo_content {
        .logo {
            opacity: 1;
            pointer-events: none;
        }
    }
    #btn {
        right: 0;
        left: 100%;
        top: 20%;
    }
    ul {
        li {
            .tooltip {
                display: none;
            }
        }
    }
    .links_name {
        transition: 0s;
        opacity: 1;
        pointer-events: auto;
    }
    .content {
        .user {
            background: var(--light-black);
        }
    }
    .user {
        .user_details {
            opacity: 1;
            pointer-events: auto;
        }
        #log_out {
            left: 80%;
            background: none;
        }
    }
    ~ {
        .home_content {
            z-index: 100;
            width: calc(100% - 240px);
            left: 240px;
        }
    }
}

.logo_content {
    .logo {
        .logo_name {
            font-size: 20px;
            font-weight: 400;
            margin: 0 auto;
            display: block;
            text-align: center;
        }
    }
}

.content {
    .user {
        .user_details {
            display: flex;
            align-items: center;
            opacity: 0;
            pointer-events: none;
            white-space: nowrap;
            transition: all 0.4s ease;
            img {
                height: 45px;
                width: 45px;
                object-fit: cover;
                border-radius: 12px;
            }
        }
    }
}

.name_job {
    margin-left: 10px;
}

.user_details {
    .name {
        font-size: 15px;
        font-weight: 400;
    }
    .job {
        font-size: 12px;
    }
}

#log_out {
    position: absolute;
    bottom: 5px;
    left: 50%;
    transform: translateX(-50%);
    min-width: 50px;
    line-height: 50px;
    font-size: 20px;
    border-radius: 12px;
    text-align: center;
    transition: all 0.4s ease;
}

.home_content {
    position: absolute;
    // height: 100%;
    width: calc(100% - 78px);
    background-color: #eaeaea;
    left: 78px;
    // background: var(--sky-color);
    padding: 20px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    transition: all 0.5s ease;
    .text {
        font-size: 25px;
        font-weight: 600;
        // color: var(--light-black);
        margin-bottom: 15px;
    }
    p {
        margin-bottom: 15px;
    }
    .card_ {
        background: white;
        border-radius: 12px;
        box-shadow: 0px 1px 8px rgba(0, 0, 0, 0.08);
        padding: 16px;
    }
}

.wrap {
    display: flex;
    justify-content: space-around;
    &__6 {
        // display: inline-block;
        width: 15%;
        // margin-right: 4px;
    }
    &__auto {
        width: 100%;
        margin: 0 8px;
        padding: 16px;
    }
}

.res {
    &__card {
        border: 1px solid #DADEE3;
        border-radius: 8px;
        position: relative;
        padding: 16px 0 0;
        .name {
            font-size: 14px;
        }
    }
    &__logo {
        position: absolute;
        left: 0;
        top: 0;
        width: 35px;
        height: 35px;
    }
    &__title {
        margin-bottom: 0;
        margin: 8px 0 0;
        padding: 0;
    }
}

.pertanian {
    border-bottom: 4px solid #61B421;
}

.perikanan {
    border-bottom: 4px solid #429DEB;
}

.industri {
    border-bottom: 4px solid #FFC007;
}

.jasa {
    border-bottom: 4px solid #F37B0C;
}

.perdagangan {
    border-bottom: 4px solid #9149C9;
}

.pariwisata {
    border-bottom: 4px solid#EF709E;
}

.font-bold {
    font-weight: bold;
}

.success {}

.warning {}

.info {}

.rent {
    border-radius: 8px;
    padding: 16px;
    &__img {
        width: 48px;
        vertical-align: middle;
        margin-right: 8px;
        img {
            width: 100%;
            height: 100%;
            object-fit: contain;
        }
    }
    &__text {
        width: 130px;
        vertical-align: middle;
        .font-title {
            font-size: 14px;
            font-weight: bold;
        }
    }
    &__green {
        background: #EDF9F0;
    }
    &__orange {
        background: #FCEECF;
    }
    &__blue {
        background: #EEF2FA;
    }
}

i {
    font-style: initial;
}

.rotate {
    transform: rotate(180deg) !important;
}

#btn {
    transition: .3s;
}

.arrow-round {
    transition: .3s;
}


/* Colored Icon */

.icons {
    width: 40px;
    height: 40px;
    margin-right: 8px;
    background: #545D69;
    display: inline-block;
}

.dashboard {
    mask: url('../img/dashboard') no-repeat center / contain;
    -webkit-mask: url('../img/dashboard') no-repeat center / contain;
}

.daftar {
    mask: url('../img/daftar') no-repeat center / contain;
    -webkit-mask: url('../img/daftar') no-repeat center / contain;
}

.list {
    mask: url('../img/list') no-repeat center / contain;
    -webkit-mask: url('../img/list') no-repeat center / contain;
}

.pengaturan {
    mask: url('../img/pengaturan') no-repeat center / contain;
    -webkit-mask: url('../img/pengaturan') no-repeat center / contain;
}

.logout {
    mask: url('../img/logout') no-repeat center / contain;
    -webkit-mask: url('../img/logout') no-repeat center / contain;
}

.bantuan {
    mask: url('../img/bantuan') no-repeat center / contain;
    -webkit-mask: url('../img/bantuan') no-repeat center / contain;
}

.qna {
    mask: url('../img/qna') no-repeat center / contain;
    -webkit-mask: url('../img/qna') no-repeat center / contain;
}

.laporan {
    mask: url('../img/laporan') no-repeat center / contain;
    -webkit-mask: url('../img/laporan') no-repeat center / contain;
}

.pengajuan {
    mask: url('../img/pengajuan') no-repeat center / contain;
    -webkit-mask: url('../img/pengajuan') no-repeat center / contain;
}

.colored {
    background: rgba(0, 84, 158, 0.1);
    .links_name {
        color: #00549E;
    }
    .icons {
        background-color: #00549E;
        // mask: url('../img/list') no-repeat center / contain;
        // -webkit-mask: url('../img/list') no-repeat center / contain;
    }
}

.side {
    display: block;
    margin: 8px 16px 0 0;
    &-left {
        display: inline-block;
        vertical-align: middle;
    }
    &-middle {
        display: inline-block;
        .image-profile {
            width: 60px;
            height: 60px;
            border-radius: 50%;
            img {
                width: 100%;
                height: 100%;
                border-radius: 50%;
                object-fit: cover;
            }
        }
    }
    &-right {
        display: inline-block;
        img {
            width: 30px;
            height: 30px;
        }
        .notif-total {
            background: #EA7D2A;
            color: white;
            width: 30px;
            height: 30px;
            text-align: center;
            padding: 8px 0;
            font-size: 14px;
            line-height: 16px;
            border-radius: 50%;
        }
    }
}